.register-container {
    width: 100%;
    max-width: 500px;
    margin: 50px auto;
    padding: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fff;
}

.register-container h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
    font-weight: 600;
}

.register-container form {
    display: flex;
    flex-direction: column;
}

.register-container input {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.register-container input:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.register-container button {
    padding: 15px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s;
}

.register-container button:hover {
    background-color: #0056b3;
}

.register-container p {
    margin-top: 20px;
    text-align: center;
    font-weight: 600;
    color: green; /* For successful message */
}

.register-container p.error {
    color: red;
}
